[user]
	name = Chiel Kunkels
	email = chiel@kunkels.me
	signingkey = D8A983C5A93D3460

[core]
	excludesfile = ~/.gitignore.global
	autocrlf = input
	safecrlf = true
	ignorecase = false

[push]
	default = tracking

[branch]
	autosetuprebase = always

[branch "main"]
	rebase = true

[branch "master"]
	rebase = true

[init]
	defaultBranch = master

[rerere]
	enabled = true

[alias]
	b = branch
	t = tag
	d = diff --stat -p -C
	ds = diff --staged --stat -p -C
	ci = commit -v
	co = checkout
	st = status -sb -uall
	amend = commit -v --amend
	wc = whatchanged --abbrev-commit --date=relative --date-order --pretty='format:%Cgreen%h %Cblue%ar %Credby %an%Creset -- %s' -n 45
	ll = log --graph --date=relative --topo-order --pretty='format:%C(yellow)%h%C(yellow)%d %Cblue%ar %Cgreenby %an%Creset -- %s'
	lla = log --graph --date=relative --topo-order --pretty='format:%Cgreen%h %Cblue%ar %Credby %an%Creset -- %s' --all
	gl = log --decorate --graph --abbrev-commit --color --color-words --topo-order --pretty=medium
	gla = log --decorate --graph --abbrev-commit --color --color-words --topo-order --pretty=medium --all
	sl = log --decorate --graph --abbrev-commit --color --topo-order --pretty=oneline
	sla = log --decorate --graph --abbrev-commit --color --topo-order --pretty=oneline --all
	lg = log --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr)%Creset' --abbrev-commit --date=relative
	rl = log --graph --date=relative --topo-order --pretty='format:%C(yellow)%h%Creset %s (%Cgreen%an%Creset)'
	guilt = "!f(){ git log --pretty='format:%an <%ae>' $@ | sort | uniq -c | sort -rn; }; f"

[mergetool "vimdiff"]
	cmd = nvim -d $LOCAL $MERGED $REMOTE

[merge]
	tool = vimdiff

[mergetool]
	prompt = false

[diff]
	renames = true
	tool = vimdiff

[difftool]
	prompt = false

[color]
	ui = auto
	branch = auto
	diff = auto
	status = auto

[color "branch"]
	current = yellow reverse
	local = yellow
	remote = green

[color "diff"]
	meta = blue bold
	frag = magenta bold
	old = red
	new = green

[color "status"]
	added = blue bold
	changed = green bold
	untracked = cyan bold

[apply]
	whitespace = nowarn

[pack]
	threads = 0

[blame]
	date = relative

[commit]
	gpgsign = true

[init]
	defaultBranch = master
