[submodule ".vim/bundle/vim-pathogen"]
	path = .vim/bundle/vim-pathogen
	url = git@github.com:tpope/vim-pathogen.git
[submodule ".vim/bundle/vim-parabola"]
	path = .vim/bundle/vim-parabola
	url = https://github.com/chielkunkels/vim-parabola.git
