[submodule ".nvim/bundle/ctrlp.vim"]
	path = .nvim/bundle/ctrlp.vim
	url = https://github.com/kien/ctrlp.vim.git
[submodule ".nvim/bundle/neomake"]
	path = .nvim/bundle/neomake
	url = https://github.com/benekastah/neomake.git
[submodule ".nvim/bundle/nerdtree"]
	path = .nvim/bundle/nerdtree
	url = https://github.com/scrooloose/nerdtree.git
[submodule ".nvim/bundle/vim-javascript"]
	path = .nvim/bundle/vim-javascript
	url = https://github.com/pangloss/vim-javascript.git
[submodule ".nvim/bundle/vim-jsx"]
	path = .nvim/bundle/vim-jsx
	url = https://github.com/mxw/vim-jsx.git
[submodule ".nvim/bundle/vim-parabola"]
	path = .nvim/bundle/vim-parabola
	url = https://github.com/chielkunkels/vim-parabola.git
[submodule ".nvim/bundle/vim-pathogen"]
	path = .nvim/bundle/vim-pathogen
	url = https://github.com/tpope/vim-pathogen.git
